@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --cor-background: #161a1d;
  --cor-primaria: #ba181b;
  --cor-secundaria: #f5f3f4;
  --cor-terciaria: #660708;
  --fonte-principal: "Press Start 2P", system-ui;
  --fonte-secundaria: "Poppins", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--cor-background);
  color: var(--cor-secundaria);
  text-decoration: none;
}

.navbar {
  background-color: var(--cor-primaria);
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  height: 62px;
  padding: 8px;
  text-decoration: none;
  font-family: var(--fonte-principal);
  text-decoration: none;
}

.nav_titulo {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  gap: 7px;
  font-size: 20px;
  font-weight: 700;
}

.nav_container_links {
  display: flex;
  justify-content: space-between;
  gap: 27px;
  padding: 9px;
  text-decoration: none;
  font-family: var(--fonte-secundaria);
  font-weight: 500;
  font-size: 18px;
}

.nav_container_links_links {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.site_container_titulo {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 38px;
  font-family: var(--fonte-secundaria);
}

.site_noticias {
    padding: 0px 0px 10px 90px;
  font-family: var(--fonte-principal);
  font-size: 20px;
}

.container_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 100px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.card {
  background-color: var(--cor-secundaria);
  width: 360px;
  height: 390px;
  border-radius: 8px;
  border: 3px solid var(--cor-primaria);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  font-family: var(--fonte-secundaria);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.card:hover {
  background-color: #B1A7A6;
}

.card_imagem {
  border-bottom: 3px solid var(--cor-primaria);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 355px;
  height: 295px;
}

.card_link {
  display: flex;
  align-content: flex-start;
  height: 100px;
  width: 360px;
  padding: 10px 25px 10px 25px;
  box-sizing: border-box;
}

.card_link_link {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.site_sobre {
  padding: 0px 0px 10px 90px;
  font-family: var(--fonte-principal);
  font-size: 20px;
}

.container_sobre {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 50px;
  box-sizing: border-box;
  gap: 125px;
}

.foto {
  border-radius: 100%;
}

.container_sobre_texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--fonte-secundaria);
  font-size: 26px;
  text-align: left;
  color: #B1A7A6;
}

.site_newsletter {
  padding: 0px 0px 10px 90px;
  font-family: var(--fonte-principal);
  font-size: 20px;
}

.container_newsletter {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 90px;
}

.newsletter_titulo {
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 26px;
    padding: 38px;
}

.rodape {
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rodape_texto {
    color: var(--cor-secundaria);   
    padding: 22px 0px 22px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 19px;
}

.rodape_linkedin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
}
